
body {
	font: 14pt sans-serif;
	text-align: justify;
	background: url(http://winallos.com/uploads/posts/2014-12/1417433816_kosmos-planeta-pace-tar.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center bottom;
}
.block{
	position:relative;
	top: 30%;
}
.nimg {
	padding-bottom:30px;
	margin-top: 30px;
    text-align: left;
    font-size: 13px;
}
.block1{
	text-align: justify;
	position:relative;
	left: 30%;
	background: rgba(255,255,255, 0.2);
	text-align: left;
	font: 14pt sans-serif;
	width: 40%;
	float:left;
}
.block1 img{
	max-height: 100%;
	max-width: 99%;
}
.nav {
	height: 69%;
	width: 10%;
	background: url(img/1.png) no-repeat;
	background-size: contain;
	float:right;
	position:relative;
	right: 20%;
}
.n1 {
	font: 14pt sans-serif;
	border: 4px ridge;
	position:relative;
	top: 4%;
	height: 5%;
}
.n2 {
	border: 4px ridge;
	position:relative;
	top: 4%;
	height: 7%;
	text-align:left;
}
.n3 {
	border: 4px ridge;
	position:relative;
	top: 4%;
	height: 5%;
}
.n4 {
	border: 4px ridge;
	position:relative;
	top: 4%;
	height: 5%;
}
a {
	 text-decoration: none;
}
p {
max-height: 100%;
max-width: 100%;
}
